doctype html
html(ng-app="app")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/assets/angular/angular.js")
    script(src="/assets/angular-ui-router/release/angular-ui-router.js")
  
    script(src="/javascripts/app.js")
  
  body
    block content
    hr
    block menu
