New Member
<hr>
<form name="frmAdd">

  <table>
    <tr>
      <td>Fullname</td>
      <td>
        <input type="text" ng-model="member.fullname" ng-required="true">
      </td>
    </tr>
    <tr>
      <td>Username</td>
      <td>
        <input type="text" ng-disabled="true" ng-model="member.username" ng-required="true">
      </td>
    </tr>
    <tr>    
      <td>Group</td>
      <td>
        <select ng-model="selectedGroup" ng-options="group.id as group.name for group in groups"></select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button ng-click="save()" type="button" ng-disabled="frmAdd.$invalid">Save</button>
      </td>
    </tr>

  </table>

</form>