Members list

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Fullname</th>
      <th>Group Name</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="member in members">
      <td>{{ member.username }}</td>
      <td>{{ member.fullname }}</td>
      <td>{{ member.group_name }}</td>
      <td>
        <button ng-click="edit(member.id)" type="button">Edit</button>
        <button ng-click="remove(member.id)" type="button">Remove</button>
      </td>
    </tr>
  </tbody>
</table>